<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>writer</th>
        <th>hits</th>
    </tr>
    <tr th:each="board: ${boardList}">
        <td th:text="${board.id}"></td>
        <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>
<!--        제목은 같을 수 있는게 있으니 요청을 보낼때 보통은 id 값을 사용함-->
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.boardHits}"></td>
    </tr>
</table>
</body>
</html>

